<header id="header"  class="fixed-top">

<div class="container d-flex">

    <div class="logo mr-auto">
      <h1 class="text-light"><a href="index.html"><span>نجم نعاون</span> INSAT Version</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="#header">Home</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="#services&resources">Services & Resources</a></li>
        <li><a href="#Opportunities">Opportunities</a></li>
        <li><a href="#blog">login/Register</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </div>

</header>


