<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>About us</h2>
        <div class="about content">
          This website will help university students search for professional opportunities.
          They will find job and internship opportunities, online courses and a forum
          that will help you create a good cv.
        </div>
        <button class="btn btn-primary">Read more>></button>
      </div>
      <div class="col-md-6 opportunities" >
        <p>Opportunities</p>
        <div class="progress">
          <div class="progress-bar" style="width: 80%;">80%</div>
        </div>

        <p>Online courses</p>
        <div class="progress">
          <div class="progress-bar" style="width: 90%;">90%</div>
        </div>


        <p>correcting cv</p>
        <div class="progress">
          <div class="progress-bar" style="width: 70%;">70%</div>
        </div>
      </div>
    </div>
  </div>
</section>
