<section id="vision">
  <div class="container">
    <h1>Our vision</h1>
    <div class="row vision">
<div class="col-md-4 text-center">
<div class="icon">
  <i class="fas fa-users"></i>
</div>
  <h3>Building a community</h3>
  <p>Create a space where people can help each other.</p>
</div>
      <div class="col-md-4 text-center">
        <div class="icon">
          <i class="fas fa-handshake"></i>
        </div>
        <h3>24/7 Support</h3>
        <p>Help people find opportunities anywhere anytime.</p>
      </div>

      <div class="col-md-4 text-center">
        <div class="icon">
          <i class="fas fa-arrow-circle-right"></i>
        </div>
        <h3>Making a step forward</h3>
        <p>Our progress oriented platform will lead us to a more developed society.</p>
      </div>
    </div>
  </div>
</section>
