<!--Section: Features v.1-->
<section class="text-center">

  <!--Section heading-->
  <h2 class="h1 py-5 font-weight-bold">Our mission</h2>
  <!--Section description-->
  <p class="px-5 mb-5 pb-3 lead grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod
    tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam.</p>

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-4">
      <mdb-icon fas icon="chart-area" size="3x" class="red-text"></mdb-icon>
      <h5 class="font-weight-bold mt-3">Analytics</h5>
      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
        aperiam
        minima assumenda
        deleniti hic.
      </p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">
      <mdb-icon fas icon="book" size="3x" class="cyan-text"></mdb-icon>
      <h5 class="font-weight-bold mt-3">Tutorials</h5>
      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
        aperiam
        minima assumenda
        deleniti hic.
      </p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">
      <mdb-icon far icon="comments" size="3x" class="orange-text"></mdb-icon>
      <h5 class="font-weight-bold mt-3">Support</h5>
      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
        aperiam
        minima assumenda
        deleniti hic.
      </p>
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Features v.1-->
