<section id="team">
  <div class="container">
    <h1>Our team</h1>
  </div>
  <div class="row team">
    <div class="col-md-3 prof-pic text-center">
      <div class="img-box">
        <img src="assets/images/maissa1.jpg" alt="maissa" class="img-responsive" height="250px" width="250px">
        <ul>
          <a href="#"><li> <i class="fab fa-facebook"></i></li></a>
          <a href="#"><li><i class="fab fa-linkedin"></i></li></a>
        </ul>
      </div>
      <h2>Maissa Garrab</h2>
      <p>a description</p>
  </div>
    <div class="col-md-3 prof-pic text-center">
      <div class="img-box">
        <img src="assets/images/salma.jpg" alt="salma" class="img-responsive" height="250px" width="250px">
        <ul>
          <a href="#"><li> <i class="fab fa-facebook"></i></li></a>
          <a href="#"><li>  <i class="fab fa-linkedin"></i></li></a>
        </ul>
      </div>
      <h2>Salma Hellal</h2>
      <p>a description</p>
    </div>


    <div class="col-md-3 prof-pic text-center">
      <div class="img-box">
        <img src="assets/images/selima.jpg" alt="selima" class="img-responsive" height="250px" width="250px">
        <ul>
          <a href="#"><li> <i class="fab fa-facebook"></i></li></a>
          <a href="#"><li>  <i class="fab fa-linkedin"></i></li></a>
        </ul>
      </div>
      <h2>Selima Gadri</h2>
      <p>a description</p>
    </div>


    <div class="col-md-3 prof-pic text-center">
      <div class="img-box">
        <img src="assets/images/seif.jpg" alt="seif" class="img-responsive" height="250px" width="250px">
        <ul>
          <a href="#"><li> <i class="fab fa-facebook"></i></li></a>
          <a href="#"><li>  <i class="fab fa-linkedin"></i></li></a>
        </ul>
      </div>
      <h2>Seif Mzoughi</h2>
      <p>a description</p>
    </div>
  </div>
</section>
